:root {
    --primary-color: #ff9776;
    --background-color: #f1f5f9;
    --text-color: #333;
    --footer-header-background-color: #4c1d95; /* Unified variable for both */
    --footer-header-text-color: #fff; /* Unified variable for both */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* General styles for nav elements used in header and footer */
.nav-links {
    display: flex;
    justify-content: space-between; /* Updated from space-around to space-between */
    align-items: center;
    list-style: none;
    width: calc(100% - 40px); /* Adjust this value based on the hamburger button size */
    margin: 0;
    padding: 0;
}


.nav-links a {
    text-decoration: none;
    color: var(--footer-header-text-color);
    font-size: 1.2rem;
    padding: 10px 15px; /* Sufficient for clickable area */
}

.nav-links a:hover, .nav-links a:focus {
    background-color: var(--primary-color);
}


footer, header {
    background-color: var(--footer-header-background-color);
    color: var(--footer-header-text-color);
}

.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px; /* Adjust to the height of your header */
    margin-bottom: 20px; /* Adjust to the height of your footer */
    height: calc(100vh - 40px); /* Adjust to the total vertical space taken by the header and footer */
}

.image-content {
    flex: auto;
    height: 80%; /* Same calculation as for the .content-container */
}

.text-content {
    flex-basis: 50%;
    max-width: 50%; /* Limit the text content to half the container's width */
}

.image-content img {
    width: 75%; /* Fill the width */
    height: 75%; /* Fill the height */
    object-fit: contain; /* Contain within the area without clipping */
    background-color: #f1f5f9; /* Matches the background color, adjust as needed */
}