---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Blog page that may not become a blog</p>
    <ul>
        <li><a href="/posts/post-1/">Post_1</a></li>
    </ul>
</BaseLayout>
