---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Books";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Potentially using goodreads widgets here or unofficial API</p>
</BaseLayout>
