---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Falling Sand";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Falling Sand game I made in p5.js</p>
    <iframe src="https://editor.p5js.org/NickHammer/full/k8Hu9j6eO" width="40%" height="380" style="border:none;"></iframe>
</BaseLayout>
